body {
  background-color: #193940;
  /* background-color: #bac8d9; */
  margin: 0;
}

/* * {
  border: 1px solid red;
} */

/* LOGO */
/* ============================================== */

.logo {
  margin-block: 2rem;
  display: flex;
  justify-content: center;
}

/* HEADER */
/* ============================================== */

/* .menu-toggle {
  background-color: #193940;
  padding-block: 0.5rem;
  padding-inline: 1rem;
} */

.menu-toggle {
  background: linear-gradient(45deg, #7abf5a, #bac8d9);
  border: none;
  border-radius: 16px;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: none;
}

/* Efecto hover */
.menu-toggle:hover {
  background: linear-gradient(45deg, #bac8d9, #7abf5a);
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

header {
  display: flex;
  justify-content: center;
}

.header__buttonNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav__ul {
  padding: 0px;
  display: flex;
  gap: 2rem;
}

.header__nav__item {
  list-style-type: none;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.header__nav__item:hover {
  background-image: linear-gradient(
    to right,
    #193940 0%,
    #7abf5a 51%,
    #193940 100%
  );
  border-radius: 0.5rem;
}

.header__nav__item:hover a {
  color: #193940;
}

.itemSelected {
  background-color: #bac8d9bd;
  border-radius: 0.5rem;
}

.itemSelected a {
  color: #193940;
}

a {
  text-decoration: none;
  font-size: 1.75rem;
  color: #bac8d9;
  /* color: #7abf5a; */
  /* color: #9bf272; */
}

@media screen and (max-width: 600px) {
  .header__nav__ul {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
  }

  .menu-toggle {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .closeIcon {
    display: none;
  }

  .none {
    display: none;
  }

  .block {
    display: block;
  }
}

/* BODY */
/* ============================================== */
.containerTitle {
  display: flex;
  text-align: center;
  justify-content: center;
}
.titleBirthay {
  color: #bac8d9;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-size: 8rem;
}
