.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.color-primary {
  color: var(--primary);
}
