.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.index__img {
  background-color: var(--background-dark);
  border: 2px solid var(--background-darker);
  width: 200px;
  border-radius: 1.5rem;
  background-color: none;
}

.index_description {
  text-align: center;
}
