.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.index__img {
  background-color: var(--background-dark);
  border: 2px solid var(--background-darker);
  width: 180px;
  border-radius: 2rem;
  background-color: none;
}
