.reminder__list {
  background-color: var(--background-dark);
  margin: 0 2rem 0 2rem;
  padding: 1rem;
}

.reminder__list-completed {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}
